// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, #fdfdff 0%, #f5f5f5 100%);

}

.content {
    width: 100%;
    height: auto;
    padding: 20px;
}


.navbar {
    padding: 1rem 1rem;
    background: linear-gradient(to bottom, #202020, #333333);
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;

}

.navbar-nav{
    font-size: 1rem;

}

.nav-link{
    color: white;
    transition: all 300ms ease-in-out;
}

.nav-link:hover{
    color: #144bff;
}

.table{
    width: 50%;
    height: auto;
    font-size: 1rem;
}

ul li {
    display: flex;
    align-items: center;
}

ul li .btn {
    margin-left: 10px; 
}
